body {
	font-family: 'Merriweather', serif;
	line-height: 1.8;
}
.navbar {
  min-height: 80px;
}
.navbar-brand {
	margin: 0 15px 0 0;
}
.nav {
    padding: 5px 0;
}
@media(min-width:768px) {
    .navbar-brand {
		margin: 0 15px 0 0;
    }
}
a {
  color: #cc4627;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #e55120;
  text-decoration: underline;
}
.nav > li > a {
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	color: #fff;
}
.nav > li > a:hover,
.nav > li > a:focus {
  color: #fff;
  text-decoration: underline;
  background-color: transparent;
}
.navbar-static-top {
	border: none;
}
.navbar-default {
	background-color: #003467;
	background-image: url("/img/bg-nav.png");
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  text-decoration: underline;
  background-color: transparent;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #cc4627;
  background-color: #fff;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #000;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #000;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #000;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #000;
  }
}
.dropdown-menu {
	margin: 0;
	border: none;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
	background-color: #ed8968;
}
.copyright {
	padding-left: 15px;
}
.white {
	color: #fff;
}
.white > a {
  color: inherit;
}

footer {
	margin-top: 20px;
	background-color: #003467;
	background-image: url("/img/bg-nav.png");
}

.sidebar {
	border-top: 2px solid #19407a;
	padding: 10px 0 20px 20px;
	background-color: #f1f2f2;
}

.logo-container {
	margin: 25px 0;
}
.medium {
	font-size: 95%;
}
.text-bold {
	font-weight: bold;
}
.textbox {
	border: 0;
	padding: 10px 10px 10px 20px;
	margin: 20px 0 20px 20px;
	font-size: 95%;
	background-color: #f8f8f8;
}
.imgbox {
	padding: 20px;
	margin: 20px 0;
	font-size: 95%;
	background-color: #eaeef2;
	background: url("/img/bg-imgbox.png");
}
.footnotes {
	margin-top: 20px;
	padding-top: 20px;
	border: 0;
	border-top: 1px solid #eee;
	font-size: 95%;
}
.bg_blue {
	background-color: #eaf0f7;
}
.anchor-active {
	background-color: #d9edf7;
}

.toc {
	margin-top: 6px;
}
.toc > li {
	line-height: 1.3;
	margin-bottom: 4px;
	padding: 4px 0 2px 2px;
}


.tocslctd {
	background-color: #ddd;
}


.box {
	padding: 10px;
	background-color: #f8f8f8;
}



a.lightgrey, a.lighgrey:hover, a.lighgrey:focus{
	color: #f8f8f8;
}
.padded-left {
	padding:  0 0 0 20px;
}
.padded-top {
	padding:  20px 0 0 0;
}

.margin-bottom {
	margin-bottom: 20px;
}
.margin-top {
	margin-top: 30px;
}


.blue {
	color: #19407a;
}
a.blue, a.blue:hover, a.blue:focus{
	color: #19407a;
}

a.mostly, a.mostly:hover, a.mostly:focus {
	color: #006600;
}
a.partially, a.partially:hover, a.partially:focus {
	color: #cccc33;
}
a.not, a.not:hover, a.not:focus {
	color: #cc6666;
}
.mostly {
	color: #006600;
}
.partially {
	color: #cccc33;
}
.not {
	color: #cc6666;
}
a.na, a.na:hover, a.na:focus {
	color: #999999;
}

.pointer {
	cursor: pointer;
}

.help {
	cursor: pointer;
	border-bottom: 1px dotted #777;
}
.table > tbody > tr > td.vbottom {
	vertical-align: bottom;
}
.vbottom {
	vertical-align: bottom;
}
.img-wrapper {
	display:inline-block;
	max-width:100%;
}
.img-wrapper:after {
	content: attr(data-caption);
	text-align:left;
	display:-inline-block;
}


.btn-signup {
	margin-left:14px;
	margin-top:9px;
  color: #fff;
  background: rgba(204, 70, 39, .5);
  border-color: #aa351a;
}
.btn-signup:hover,
.btn-signup:focus,
.btn-signup.focus,
.btn-signup:active,
.btn-signup.active,
.open > .dropdown-toggle.btn-signup {
  color: #fff;
  background: rgba(170, 53, 26, .5);
  border-color: #072147;
}
.btn-signup:active,
.btn-signup.active,
.open > .dropdown-toggle.btn-signup {
  background-image: none;
}
.btn-signup.disabled,
.btn-signup[disabled],
fieldset[disabled] .btn-signup,
.btn-signup.disabled:hover,
.btn-signup[disabled]:hover,
fieldset[disabled] .btn-signup:hover,
.btn-signup.disabled:focus,
.btn-signup[disabled]:focus,
fieldset[disabled] .btn-signup:focus,
.btn-signup.disabled.focus,
.btn-signup[disabled].focus,
fieldset[disabled] .btn-signup.focus,
.btn-signup.disabled:active,
.btn-signup[disabled]:active,
fieldset[disabled] .btn-signup:active,
.btn-signup.disabled.active,
.btn-signup[disabled].active,
fieldset[disabled] .btn-signup.active {
  background-color: #003767;
  border-color: #aa351a;
}
.btn-signup .badge {
  color: #cc4627;
  background-color: #fff;
}

.alpha50 {
    opacity: 0.50;
    filter: alpha(opacity=50);
}

.alpha50:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}

/* Blog */
.blog-listing {
	margin-bottom:2em;
}

.blog-listing.draft-post {
	background-color: #f1f2f2;
	padding:5px 0;
}

.blog-listing h2 {
	margin-top:0px;
}

.blog-listing .blog-meta {
	font-style:italic;
}

.blog-listing img {
	border:1px solid #cc4627;
}
.blog-meta {
	font-style:italic;
}
.blog-body {
	margin-top:20px;
}
.blog-image {
	margin:10px 10px 0px 0px;
	float:left;
	max-width:20%;
	clear:left;
}
.blog-spacer {
	height:50px;width:0px;float:left;clear:left;
}

/* Social Media Share */
.socialShareContainer {
	position:fixed;
	left: 0;
	top: 50%;
	width:32px;
}

.socialShareContainer img {
	width:32px;
	height:32px;
}

/* Hint */
.hint { color: #cc4627; cursor: pointer; }
.hint-content { display: none; }
.hint-content.isVisible { display: block; }